<% @posts.reverse_each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= post.user.email %></div>
    <div class="panel-body">
      <%= post.message %><br><br>
      <%if post.comments.any? %>
        <div class="panel panel-default">
          <div class="panel-body">
            Comments:
            <br>
            <ul>
            <% post.comments.each do |comment| %>
                <li>
                <%= comment.text %>
                </li>
            <%end%>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  <div class="panel-footer">
    <%= post.created_at.strftime("%d/%m/%Y %H:%M") %>
    <%= link_to 'Show', post_path(post)%>
  </div>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
