<% @posts.reverse_each do |post| %>
<<<<<<< HEAD
  <div class="panel panel-default">
    <div class="panel-heading"><%= post.user.email %></div>
    <div class="panel-body">
      <%= post.message %><br><br>
      <%if post.comments.any? %>
        <div class="panel panel-default">
          <div class="panel-body">
            Comments:
            <br>
            <ul>
            <% post.comments.each do |comment| %>
                <li>
                <%= comment.text %>
                </li>
            <%end%>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  <div class="panel-footer">
    <%= post.created_at.strftime("%d/%m/%Y %H:%M") %>
    <%= link_to 'Show', post_path(post)%>
  </div>
  </div>
=======
  <li>
  <p><%= simple_format(post.message) %></p>
  <%= post.created_at.strftime("%d/%m/%Y %H:%M") %>
  </li>
  <%if post.comments.any? %>
    Comments:
    <br>
    <ul>
      <% post.comments.each do |comment| %>
        <li>
          <%= comment.text %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Show', post_path(post)%>
  <% if current_user %>
    <% current_user_like = post.likes.select { |like| like.user_id == current_user.id}[0] %>
    <% if current_user_like.nil? %>
      <%= button_to 'Like', post_likes_path(user_id:current_user.id, post_id: post.id) %>
    <% else %>
      <%= button_to 'Unlike',
          post_like_path(current_user_like.id, current_user_like),
          method: :delete %>
    <% end %>
    <% if post.likes.count > 0 %>
      <%= " #{post.likes.count} Liked this" %>
    <% end %>
  <% end %>
>>>>>>> 10dace1691f85e82b5d91a92f59b4d9184de8f3a
<% end %>
  <br>
<%= link_to new_post_path do %>
  New post
<% end %>
