<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= post.created_at.strftime("%d/%m/%Y %H:%M") %>
  <%if post.comments.any? %>
    Comments:
    <br>
    <ul>
    <% post.comments.each do |comment| %>
        <li>
        <%= comment.text %>
        </li>
    <%end%>
    </ul>
  <%end%>
  <%= link_to 'Show', post_path(post)%>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
