<% @posts.reverse_each do |post| %>
  <li>
  <p><%= post.message %> by <%= post.user.email %> </p>
  <%= post.created_at.strftime("%d/%m/%Y %H:%M") %>
  </li>
  <%if post.comments.any? %>
    Comments:
    <br>
    <ul>
    <% post.comments.each do |comment| %>
        <li>
        <%= comment.text %>
        </li>
    <%end%>
    </ul>
  <%end%>
  <%= link_to 'Show', post_path(post)%>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
